.quarto/
_book/
.Rhistory
.RData
.Rproj.user/
*.log
_quarto.yml
references.bib

/.quarto/
**/*.quarto_ipynb

/scripts/instalar-dependencias.R
/scripts/validar-capitulo.R
/references.bib
/Economia_Politica_Formal_2026_v2.docx
/.github/workflows/
